# **IFFOR_PY**

In [ ]:
# Main function
if __name__ == '__main__':
	
	# Take the T (test_cases) input
	test_cases = int(input("enter: "))
	for i in range(test_cases):		
    		n = int(input("Enter value of n : "))
    		for j in range(0,n):
        		if j != 0:
            			if j%2==1:
               				print(j**2)
            			else:
                			print(j*2)
        		else:
            			print(3+j)

enter: 2
Enter value of n : 2
3
1
Enter value of n : 5
3
1
4
9
8

# Calculate the distance between 2 **points**

In [ ]:
import numpy as np

def compute_distance(x1, y1, x2, y2):

  point1 = np.array((x1, y1, 0)) 
  point2 = np.array((x2, y2, 0)) 
    
  dist = np.linalg.norm(point1 - point2) 
    
  print("Distance: " + "{:.2f}".format(dist)) 

if __name__ == '__main__':
    
    for i in range(int(input())):
      x1, y1, x2, y2 = list(map(int, input().split()))

      compute_distance(x1, y1, x2, y2)

2
-1 0 5 0
Distance: 6.00
2 1 6 -2
Distance: 5.00

# **Slice the list**

In [ ]:
for i in range(int(input())):
  L = int(input())
  data = list(map(int, input().split()))

  rev = data[::-1]
  for i in range(L):
    print(rev[i], end=' ')
  print()
  
  for i in range(1, L):
    if i%3==0:
      print(data[i]+3, end=' ')
  print()
  
  for i in range(1, L):
    if i%5==0:
      print(data[i]-7, end=' ')
  print()

  print(sum(data[3:8]))

1
8
-2 4 5 6 2 -9 4 3
3 4 -9 2 6 5 4 -2
9 7
-16
6

# Arithmetic Progression with Lambda **function**

In [ ]:
from functools import reduce

def generate_AP(a1, d, n):
    AP = []
    for i in range(n):
      AP.append(i*d + a1)
    return AP

if __name__ == '__main__':
  
  test_cases = int(input())
  
  for i in range(test_cases):

    a1, d, n = list(map(int, input().split()))
    AP_series = generate_AP(a1, d, n)

    sqr_AP_series = list(map(lambda x:x**2, AP_series))

    sum_sqr_AP_series = reduce(lambda a,b : a+b,sqr_AP_series)


    for i in range(len(AP_series)):
      print(AP_series[i], end=' ')
    print()
    for i in range(len(AP_series)):
      print(sqr_AP_series[i], end=' ')
    print()
    print(sum_sqr_AP_series)

1
2 5 7
2 7 12 17 22 27 32
4 49 144 289 484 729 1024
2723

# **Decimal** to Binary converter

In [ ]:
for i in range(int(input("How many times you want to rotate loop: "))):
  d = int(input("Enter the no: "))
  s = "{0:b}".format(d)
  s = '0'*(8-len(s)) + s
  print(s)

How many times you want to rotate loop: 2
Enter the no: 5
00000101
Enter the no: 8
00001000

**A string which is a mixture of letter and integer and special char from which find the largest even number from the available digit after removing the duplicates.If an even number is not formed then return -1. Ex : infosys@337O/p : -1Hello#81@21349 O/p :984312**

In [ ]:
import itertools
s=input()
ss=set()
m=-1
for i in s:
  if i.isdigit():
    ss.add(i)
    ll=list(itertools.permutations(ss,len(ss)))
    for i in ll:
      k=''.join(i)
      if int(k)%2==0 and int(k)>m:
        m=int(k)
print(m)

Hello#81@21349
984312

 Problem Statement:
 Consider an array inarr containing atleast two&nbsp;non-zero positive integers ranging between 1 to 300
 (inclusive of the boundary values). Divide the integers in inarr into two groups based on the below rules:
 1. Each of the integers should belong to either of the two groups.
 2. The total sum of integers in each of the groups must be as nearly equal as  3. The total number of integers between the two groups should not differ by more than 1.
  Print outnum1 and outnum2, the sum of the integers of two groups separated by a space.
 If outnum1 and outnum2 are not equal, then print the smallar sum followed by the larger sum.
#
   Example: 
   Input: 87,100,28,67,68,41,67,1
  Output: 229 230

In [ ]:
def solve(arr, last_index, S1, S2, lenS1, lenS2):
        
    if(last_index < 0):
        if(abs(lenS1 - lenS2) > 1):
            return 10**9
        return abs(S1 - S2)
    return min(solve(arr, last_index - 1, S1, S2, lenS1, lenS2), 
                            solve(arr, last_index - 1, S1 + arr[last_index], S2 - arr[last_index], lenS1 + 1, lenS2 - 1))
    

if __name__ == '__main__':
    arr = list(map(int, input().split(",")))
    n = len(arr)
    total_sum = sum(arr)
    min_diff = solve(arr, n - 1, 0, total_sum, 0, n)
    print(int(total_sum/2 - min_diff/2), int(total_sum/2 + min_diff/2))

87,100,28,67,68,41,67,1
229 230

	Problem Statement:
or a given positive number num, identify the palindrome formed by performing the following operations-
1. Add num and its reverse 
2. Check whether the sum is palindrome or not. If not, add the sum and its reverse and repeat the process until a palindrome is obtained

In [ ]:
def reverse(num):
	return int(str(num)[::-1])

def is_palindrome(num):
	return num == reverse(num)

if __name__ == '__main__':
	num = int(input())
	while True:
		num = num + reverse(num)
		if(is_palindrome(num)):
			print(num)
			break

195
9339

Problem Statement:
The input is a N x N matrix where some of the items in the matrix are 0.
If any of the items are 0, then set that item's entire row and column to 0.
items that are not 0 will be represented by an integer.

In [ ]:
def set_zero(matrix, n):
	zero_rows = [False] * n
	zero_cols = [False] * n
	
	for i in range(n):
		for j in range(n):
			if matrix[i][j] == 0:
				zero_rows[i] = True
				zero_cols[j] = True

	for i in range(n):
		if zero_rows[i] is True:
			for col in range(n):
				matrix[i][col] = 0

	for i in range(n):
		if zero_cols[i] is True:
			for row in range(n):
				matrix[row][i] = 0

	return matrix

if __name__ == '__main__':
	
	n = int(input())
	arr = []
	for i in range(n):
		row = list(map(int, input().split()))
		arr.append(row)

	ans = set_zero(arr, n)

	for i in range(n):
		for j in range(n):
			print(ans[i][j], end = " ")
		print()

4
2 3 9 0
4 3 8 9
5 8 9 7
0 1 5 0
0 0 0 0
0 3 8 0
0 8 9 0
0 0 0 0

Q1. String Rotation: -Input: rhdt:246, ghftd:1246 Output: trhd ftdghExplanation: Here, every string (rhdt : 246) is associated with a number, separated by semicolon, if sum of square of digit is even the rotate the string right by 1 position. If square of digit is odd the rotate the string left by 2 position.For first case: 2*2+4*4+6*6=56 which is even sorotate string, rotate right by 1 so ”rhdt” will be “trhd”For second case: 1*1+2*2+4*4+6*6=57 which is oddso rotate string left by 2 so “ghftd” will be “ftdgh”
s=input().split(",")string=[]digits=[]Output: -

In [ ]:
s=input().split(",")
string=[]
digits=[]
for i in s:
  s1,n=i.split(":")
  string.append(s1)
  digits.append(n)
def rotate(s1,n):
  n=list(str(n))
  s2=0
  for i in n:
    s2+=int(i)**2
  if s2%2==0:
    return s1[-1:]+s1[:-1]
  else:
    return s1[-2:]+s1[:-2]
for i in range(len(digits)):
  print(rotate(string[i],digits[i]))

rhdt:246,ghftd:1246
trhd
tdghf

Q4. Sum of FactorFor a given list of numbers find the its factors and add the factors then if the sum of all factor is present in original list, sort it and print itEx:Input: 0,1,6Factors: 0 = 0, sum =01 = 1, sum =16 =1,2,3 = sum =6Output: 1,6If the sum is not present in the list, then return -1

In [ ]:
def factor(n):
  s=0
  if n==1:
    return 1
    for i in range(1,n):
      if n%i==0:
        s+=i
      return s 
list1=list(map(int,input().split(",")))
flag=0
for i in list1:
  if factor(i) in list1:
    flag=1 
    print(i)
if flag==0:
  print(-1)

0,1,6
1

Q5.ConcatenationInput: a string of comma separated numbers. The numbers 5 and 8 are present in the list Assume that 8 always comes after 5.
Online LearningCase 1: num1 = add all numbers which do not lie between 5 and 8 in the input.Case 2: num2= numbers formed by concatenating all numbers from 5 to 8.Output: sum of num1 and num2Example: 1) 3,2,6,5,1,4,8,9Num1 : 3+2+6+9 =20Num2: 5148output: 5248+20 = 5168

In [ ]:
array=list(map(int,input().split(",")))#addallnumberswhichdonotliebetween5and8input
number1=sum(array[:array.index(5)])+sum(array[array.index(8)+1:])
l=array[array.index(5):array.index(8)+1]#Initializationthenumber2
number2=""#concatenateallnumberpresentinarray1
for i in l:
  number2+=str(i)
print(int(number2)+number1)

3,2,6,5,1,4,8,9
5168

Q1. Marc’s CakewalkMarc loves cupcakes, but he also likes to stay fit. Each cupcake has a calorie count, and Marc can walk a distance to expend those calories. If Marc has eatenJcupcakes so far, after eating a cupcake withccalories he must walkatleastmiles to maintain his weight.ExampleCalorie = [5,10,7]If he eats the cupcakes in the order shown the mileshe will need to walk are This is not the minimum though so we need to test other orders of consumption. In this case our minimum miles is calculated as Given the individual calorie counts for each of the cupcakes, determine the minimum number of miles marc must walk to maintain his weight. Note that he can eat the cupcakes in any order.
SampleInput
03132   SampleOutput 11

In [ ]:
n=int(input().strip())
calories=list(map(int, input().strip().split(' ')))
calories.sort(reverse=True)
ans=0
for x in range(0,n):
  ans=ans+(2**x)*calories[x]
print(ans)

3
1 3 2
11

Input FormatRead the String instrfrom standard input stream.Output FormatPrint the Identified longest sub-sequence to the standard Output stream.Sample Input: -greatnessSample Output-retesExplanation: -For the Input greatness the possible longest sub-sequence of alphabet alternating between vowels and consonants are:-1. getes2.retes3.gates4.rates5.ranes
Online Learning6.ganes7.renes8. genesOut of the identified longest subsequence sequence[2] has the highest sum of ASCII value of its alphabets ie. 547. Hence the output is retes.Sample Input: -kgoiauSample Output-XExplanation: -There is no sub-sequence possible for this input. Because atleast 3 alphabets alternating between vowels and consonants. Hence the Output is X

In [ ]:
s=input()
ct=0
vt=0
v=['a','e','i','o','u']
if (s[0] in v):
  vt=1
else:
  ct=1
arr=[]
i=0
length=len(s)
my_new=""
while True:
  if (i==length): 
    my_new+=max(arr)  
    break
  if (vt):
    if (s[i] in v):
      arr.append(s[i])
      i+=1
    else:
      my_new+=max(arr)
      ct=1
      vt=0
      arr=[]
  else:
    if (s[i] not in v):
      arr.append(s[i])
      i+=1
    else:
      my_new+=max(arr)
      ct=0
      vt=1
      arr=[]
if (len(my_new)<3):
  print('X')
else: 
  print(my_new)

greatness
retes

Aternate even odd
input : A5c67r21i@p#8t
output : 652781

In [1]:
myinput=input()
even,odd=[],[]
sp_ch=0
for a in myinput:
  if not(a.isalnum()):
    sp_ch+=1
  if a.isdigit():
    if int(a)%2==0:
      even.append(a)
    else:
      odd.append(a)
if sp_ch%2!=0:
  odd,even=even,odd
      

for b in range(max(len(even),len(odd))):
  if b<len(even):
    print(even[b],end="")
  if b<len(odd):
    print(odd[b],end="")

A5c67r21i@p#8t
652781

# **Largest subset of fibonacii number**

In [7]:
arr=list(map(int,input().split(",")))
arr.sort()
max_num=max(arr)
num1=0
num2=1
fib_list=[]
fib_list.append(num1)
fib_list.append(num2)
while(num2<max_num):
  sum=num1+num2
  num1=num2
  num2=sum
  fib_list.append(num2)
Fib_seq=[]
for i in range(len(arr)):
  if arr[i] in fib_list:
    Fib_seq.append(arr[i])
if len(Fib_seq)>2:
  print(len(Fib_seq))
else:
  print(-1)

3,2,5,8,9,10,11
4

# **minimum distinct elements after deleting x element**

In [9]:
n=int(input())
l1=list(map(int,input().split(" ")))
r=sorted(l1,key=l1.count)
l=len(r)
l2=r[n:l]
print(len(set(l2)))

4
1 1 1 2 2 3 3 4 5 6
3